@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media print {
  * {
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }

  @page {
    size: auto;
    margin: 0mm;

    .date,
    .time,
    title {
      display: none !important;
    }
  }
}

:root {
  --body-background-color: lightblue;
  --white: #fff;
  --black: black;
  --light-blue: #03a9f4;
  --dark-blue: #003147;
  --dark-gray: #333;
  --main__figure-shadow: rgba(0, 0, 0, .25);
  --text-border-bottom: rgba(255, 255, 255, .2);
  --telegram: url("../img/icons/telegram.svg");
  --github: url("../img/icons/github.svg");
  --mail: url("../img/icons/email.svg");
  --location: url("../img/icons/location-pin.svg");
  --gaming: url("../img/icons/gaming.svg");
  --cooking: url("../img/icons/cooking.svg");
  --books: url("../img/icons/books.svg");
  --hiking: url("../img/icons/hiking.svg");
  --html: url("../img/icons/html.svg");
  --css: url("../img/icons/css.svg");
  --js: url("../img/icons/js.svg");
  --ph: url("../img/icons/ph.svg");
}

body {
  background: var(--body-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__figure {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  width: 62.5rem;
  max-height: 75.5rem;
  background: var(--white);
  box-shadow: 0 2.1875rem 3.4375rem var(--main__figure-shadow);
  margin: 2.5rem;
}

._left-side {
  max-height: 71.5rem;
  position: relative;
  background: var(--dark-blue);
  padding: 2.5rem 5rem;
}

.profile__text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: .0625rem solid var(--text-border-bottom);
}

.profile__picture {
  position: relative;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.my-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 117%;
  object-fit: cover;
}

._first-row {
  color: var(--white);
  margin-top: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
}

.contact-info {
  display: flex;
  width: 250px;
  text-align: start;

}

.contact_text {
  color: var(--white);
  line-height: 24px;
}

.icon-telegram {
  position: relative;
  left: 4px;
  margin-right: 8px;
  content: var(--telegram);
  vertical-align: middle;
}

.icon-github {
  position: relative;
  left: 4px;
  margin-right: 9.92px;
  content: var(--github);
  vertical-align: middle;
}

.icon-mail {
  position: relative;
  left: 3.2px;
  margin-right: 9.3px;
  content: var(--mail);
  vertical-align: middle;
}

.icon-location {
  position: relative;
  left: 3.2px;
  margin-right: 9.3px;
  content: var(--location);
  vertical-align: middle;
}

.education-info {
  display: flex;
  gap: 16px;
  line-height: 16px;
  padding-top: 15px;
}

.education-header {
  color: var(--light-blue);
}

.education-text-row-1 {
  color: var(--white);
  line-height: 1.5rem;
}

.education-text-row-2 {
  color: var(--white);
}

.toolstack {
  width: 307px;
  height: 127px;
  margin-bottom: 20px;
}

.toolstack ul {
  width: 310px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.625rem;
}

.toolstack li {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 400;
}

.icon-html {
  position: relative;
  margin-bottom: 12px;
  content: var(--html);
  vertical-align: middle;
}

.icon-css {
  position: relative;
  margin-bottom: 12px;
  content: var(--css);
  vertical-align: middle;
}

.icon-js {
  position: relative;
  margin-bottom: 12px;
  content: var(--js);
  vertical-align: middle;
}

.icon-ph {
  position: relative;
  margin-bottom: 12px;
  content: var(--ph);
  vertical-align: middle;
}

.languages-info ul {
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.languages-info-header {
  color: var(--white);
}

.languages-header {
  color: var(--white);
}

.languages-info-text-row-1 {
  color: var(--light-blue);
}

._right-side {
  max-height: 71.5rem;
  position: relative;
  background: var(--white);
  padding: 2.5rem 4.5rem;
}

.about {
  margin-bottom: 15px;
}

.about:last-child {
  margin-bottom: 0;
}

.expirience-box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.expirience-info {
  min-width: 150px;
  text-transform: uppercase;
  color: #848c90;
  text-align: center;
}

.expirinece-text h4 {
  text-transform: uppercase;
  color: #2a7da2;
}

.skill-box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 170px 1fr;
  justify-content: center;
  align-content: center;
}

.skill-box h4 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}

.percent {
  position: relative;
  top: 24.5px;
  width: 100%;
  height: 10px;
  background: #dad6d6;
}

.percent div {
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #03a9f4;
}

.yourself ul {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.yourself li {
  color: #848c99;
  font-weight: 400;
}

.gaming-position {
  position: relative;
  bottom: 10px;
}

.icon-gaming {
  position: relative;
  left: 0;
  bottom: 0px;
  margin-right: 3px;
  content: var(--gaming);
  vertical-align: middle;
}

.icon-cooking {
  position: relative;
  left: 4px;
  margin-right: 8px;
  content: var(--cooking);
  vertical-align: middle;
}

.icon-books {
  position: relative;
  left: 4px;
  margin-right: 8px;
  content: var(--books);
  vertical-align: middle;
}

.icon-hiking {
  position: relative;
  left: 0px;
  margin-right: 3px;
  content: var(--hiking);
  vertical-align: middle;
}

/* mixin */

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.left-side__header {
  color: var(--white);
  text-transform: uppercase;
}

.right-side__header {
  color: var(--dark-blue);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.right-side__text {
  color: var(--dark-gray);
}

.text_size-14 {
  font-size: 14px;
}

.text_size-20 {
  font-size: 20px;
}

.text_size-24 {
  font-size: 24px;
}

.text_weight-300 {
  font-weight: 300;
}

.text_weight-600 {
  font-weight: 600;
}

.cursor_pointer {
  cursor: pointer;
}